NewBox/core/migrations/__pycache__/*
NewBox/core/__pycache__/*
NewBox/NewBoxAPI/__pycache__/*
# Default ignored files
/shelf/
workspace.xml
/.idea/
NewBox/.idea/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

#Ignore docker compose file.
/Docker/
/NewBox/.idea/
/NewBoxAPI/.idea/
/_venv38.win32/
.idea/shelf/*
.idea/workspace.xml
*.pyc


