NewBox/core/__pycache__/__init__.cpython-39.pyc
NewBox/core/__pycache__/admin.cpython-39.pyc
NewBox/core/__pycache__/apps.cpython-39.pyc
NewBox/core/__pycache__/models.cpython-39.pyc
NewBox/core/__pycache__/urls.cpython-39.pyc
NewBox/core/__pycache__/views.cpython-39.pyc
NewBox/core/migrations/__pycache__/__init__.cpython-39.pyc
NewBox/core/migrations/__pycache__/0001_initial.cpython-39.pyc
# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
NewBox/.idea

#Ignore docker compose file.
/Docker/
