django==4.0.4
mysqlclient==2.1.0
spotipy==2.19.0
fastapi==0.78.0
python-vlc==3.0.16120
requests==2.25.1
uvicorn==0.17.6
pyalsaaudio==0.9.2
colorthief==0.2.1
colormap==1.0.4
pyserial==3.5
urllib3==1.26.6
Pillow==8.4.0