*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

#container
{
    width: 100%;
    height: 100vh;
    background: linear-gradient(-45deg, #690063, #7B001A, #08002E, #530055);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

#sub-container
{
    padding-top: 570px;
}

/* BEGIN NAVBAR */

.navbar
{
    position: fixed;
    width: 100%;
    padding: 65px 6%;
    background-color: rgba(0, 0, 0, 0.4);
}

.top-navbar
{
    display: flex;
    justify-content: space-between;
    height: 80px;
}

.navbar-search-settings
{
    display: flex;
}

.navbar-settings
{
    margin-left: 40px;
}

.main-navbar
{
    display: grid;
    grid-column-gap: 30px;
    grid-row-gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    margin: 40px 0;
}

.main-navbar a
{
    border-radius: 20px;
    text-decoration: none;
}

.main-navbar a:focus
{
    background-color: #783FE3;
}

.main-navbar-button
{
    display: flex;
    background-color: rgba(128, 128, 128, 0.5);
    height: 80px;
    border-radius: 20px;
}

.navbar-button-image
{
    text-align: center;
    margin: auto 0 auto 30px;
    min-width: 60px
}

.navbar-button-text
{
    color: #f4f4f4;
    margin: auto 0 auto 45px;
    font-size: 20px;
}

.searchbar
{
    margin: 0 auto;
    width: 0;
    justify-content: space-between;
    position: relative;
    border-radius: 10px;
    background-color: #783FE3;
    transition: width 0.5s linear;
}

.flex
{
    display: flex;
}

.none
{
    display: none;
}

.full-width
{
    width: 100%;
}

.navbar-search-small, .navbar-cross-small
{
    display: none;
    margin: auto auto;
}

.navbar-search-small img, .navbar-cross-small img
{
    margin: auto 0;
    width: 30px;
}

#navbar-search
{
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 30px;
    background-color: transparent;
    width: 0;
    height: 80px;
    border: none;
    outline: none;
    text-decoration: none;
}

#navbar-search.full-width
{
    width: 80%;
}

#navbar-search::placeholder
{
    font-family: Arial, sans-serif;
    font-size: 30px;
    font-weight: bold;
    color: #f4f4f4;
}

/* END NAVBAR */

/* BEGIN DOWNLOAD */

#songs-downloaded
{
    display: grid;
    margin: 0 auto;
    grid-template-columns: repeat(1, 1fr);
    width: 88%;
}

.song-downloaded
{
    display: flex;
    justify-content: space-between;
    height: 142px;
    width: 100%;
}

.song-downloaded .image
{
    width: 113px;
    height: 113px;
    margin: auto 0;
    background-color: blue;
    border-radius: 20px;
}

.song-downloaded .title-artist
{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 142px;
    margin: auto 25px;
    padding: 45px 0;
    border-bottom: 1px solid grey;
    justify-content: space-between;
}

.title
{
    color: white;
    font-weight: bold;
}

.artist
{
    color: #939393;
}

.add-to-playlist
{
    padding-top: 45px;
}

.add-to-playlist img
{
    width: 29px;
    height: 21px;
}

/* END DOWNLOAD */

@keyframes gradient {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}

/*BEGIN FOOTER*/





/*END FOOTER*/