*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

#container
{
    width: 100%;
    height: 100vh;
    background: linear-gradient(-45deg, #690063, #7B001A, #08002E, #530055);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

/* BEGIN NAVBAR */

.navbar
{
    position: fixed;
    width: 100%;
    padding: 65px 6%;
}

.top-navbar
{
    display: flex;
    justify-content: space-between;
    height: 80px;
}

.top-navbar h1
{
    display: flex;
    font-size: 60px;
    color: #f4f4f4;
}

.navbar-search-settings
{
    display: flex;
}

.navbar-settings
{
    margin-left: 40px;
}

.main-navbar
{
    display: grid;
    grid-column-gap: 30px;
    grid-row-gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    margin: 40px 0;
}

.main-navbar a
{
    border-radius: 20px;
    text-decoration: none;
}

.main-navbar a:focus
{
    background-color: #783FE3;
}

.main-navbar-button
{
    display: flex;
    background-color: rgba(128, 128, 128, 0.5);
    height: 80px;
    border-radius: 20px;
}

.navbar-button-image
{
    text-align: center;
    margin: auto 0 auto 30px;
    min-width: 60px
}

.navbar-button-text
{
    color: #f4f4f4;
    margin: auto 0 auto 45px;
    font-size: 20px;
}

.searchbar
{
    /*display: none;*/
    margin: 0 auto;
    width: 0;
    justify-content: space-between;
    position: relative;
    border-radius: 10px;
    background-color: #783FE3;
    transition: width 0.5s linear;
    /*height: 50px;*/
}

.flex
{
    display: flex;
}

.none
{
    display: none;
}

.full-width
{
    width: 100%;
}

.navbar-search-small, .navbar-cross-small
{
    display: none;
    margin: auto auto;
}

.navbar-search-small img, .navbar-cross-small img
{
    margin: auto 0;
    width: 30px;
}

#navbar-search
{
    /*position: fixed;*/
    text-align: center;
    background-color: transparent;
    width: 0;
    height: 80px;
    border: none;
    outline: none;
    text-decoration: none;
    /*transition: width 0.5s 0.5s linear;*/
}

#navbar-search.full-width
{
    width: 80%;
}

#navbar-search::placeholder
{
    font-family: Arial, sans-serif;
    font-size: 30px;
    font-weight: bold;
    color: #f4f4f4;
}

/* END NAVBAR */

@keyframes gradient {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}

/*test*/